html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}

/* About */

.about{
    height:650px;
    background-color: 957DAD;
    box-sizing: border-box;
    
}
.about h1{
    color:white;
}
.about p{
    color: white;
}

@media (min-width: 320px){
    .about h1{
        font-size: 65px;
        padding-top: 65px;
    }
    .about p{
    padding-top: 65px;
    padding-left:20px;
    padding-right:20px;
    font-size: 23px;
    }
}
@media (min-width: 600px){
    .about h1{
        font-size: 75px;
    }
    .about p{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    }
}
@media (min-width: 1100px){
    .about p{
    padding-left: 225px;
    padding-right: 225px;
    font-size: 35px;
    }
}

/* previousWork */

.previousWork{
    height:750px;
    background-color: DF9881;
    box-sizing: border-box;
}
.previousWork h1{
    color: white;
}
.previousWork .grid-item{
    color: white;
}

.grid-container {
    display: grid;
  }

.grid-container-1 .item0 {
    grid-area: Header;
}

.grid-container-1 .item1 {
    grid-area: Logo1;
}
.grid-container-1 .item2 {
    grid-area: Logo2;
}
.grid-container-1 .item3 {
    grid-area: Logo3;
}
.grid-container-1 .item4 {
    grid-area: Logo4;
}
.grid-container-1 .item5 {
    grid-area: Logo5;
}
.grid-container-1 .item6 {
    grid-area: Logo6;
}

.grid-container-2 .item7{
    grid-area: Header;
}
.grid-container-2 .item8{
    grid-area: Occupation1;
}
.grid-container-2 .item9{
    grid-area: Occupation2;
}

@media (min-width: 320px){

    .previousWork h1{
        font-size: 65px;
        padding-top: 25px;
    }

    .previousWork .grid-container-1 .grid-item{
        padding-top: 10px;
        font-size: 20px;
        font-family: "Lucida Console", "Courier New", monospace;
    }
    .previousWork .grid-container-1 .item0{
        font-size: 30px;
        font-family: "Verdana";
    }

    .grid-container-1 {
        padding-top: 50px;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-template-areas:
        "Header Header" 
        "Logo1  Logo4"
        "Logo2  Logo5"
        "Logo3 Logo6"
    }


    .previousWork .grid-container-2 .grid-item{
        padding-top: 10px;
        font-size: 20px;
        font-family: "Arial";
    }
    .previousWork .grid-container-2 .item7{
        font-size: 30px;
        font-family: "Verdana";   
    }

    .grid-container-2 {
        padding-top: 100px;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-template-areas:
        "Header Header" 
        "Occupation1 Occupation2"
    }
    
}

@media (min-width: 600px){
    .previousWork{
        height:825px;
    }
    .previousWork h1{
        font-size: 65px;
        padding-top: 25px;
    }

    .previousWork .grid-container-1 .grid-item{
        padding-top: 10px;
        font-size: 35px;
        font-family: "Lucida Console", "Courier New", monospace;
    }
    .previousWork .grid-container-1 .item0{
        font-size: 45px;
        font-family: "Verdana";    
    }

    .grid-container-1 {
        padding-top: 50px;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-template-areas:
        "Header Header" 
        "Logo1  Logo4"
        "Logo2  Logo5"
        "Logo3 Logo6"
    }


    .previousWork .grid-container-2 .grid-item{
        padding-top: 10px;
        font-size: 31px;
        font-family: "Arial";
    }
    .previousWork .grid-container-2 .item7{
        font-size: 45px;
        font-family: "Verdana";    
    }

    .grid-container-2 {
        padding-top: 100px;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-template-areas:
        "Header Header" 
        "Occupation1 Occupation2"
    }
    
}

@media (min-width: 1400px){
    
    .previousWork{
        height:925px;
    }
    .previousWork h1{
        font-size: 75px;
        padding-top: 25px;
    }

    .previousWork .grid-container-1 .grid-item{
        padding-top: 10px;
        font-size: 45px;
        font-family: "Lucida Console", "Courier New", monospace;
    }
    .previousWork .grid-container-1 .item0{
        font-size: 45px;
        font-family: "Verdana";    
    }

    .previousWork .grid-container-1 .item1{
        padding-left: 170px;
    }
    .previousWork .grid-container-1 .item2{
        padding-left: 170px;
    }
    .previousWork .grid-container-1 .item3{
        padding-left: 170px;
    }
    .previousWork .grid-container-1 .item4{
        padding-right: 170px;
    }
    .previousWork .grid-container-1 .item5{
        padding-right: 170px;
    }
    .previousWork .grid-container-1 .item6{
        padding-right: 170px;
    }

    .grid-container-1 {
        padding-top: 50px;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-template-areas:
        "Header Header" 
        "Logo1  Logo4"
        "Logo2 Logo5"
        "Logo3 Logo6"
    }


    .previousWork .grid-container-2 .grid-item{
        padding-top: 10px;
        font-size: 45px;
        font-family: "Arial";
    }
    .previousWork .grid-container-2 .item7{
        font-size: 45px;
        font-family: "Verdana";    
    }

    .grid-container-2 {
        padding-top: 100px;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-template-areas:
        "Header Header" 
        "Occupation1 Occupation2"
    }
}

/* Projects */

.projects{
    background-color: 73A88E;
    box-sizing: border-box;
    text-align: center;
}

.projects h1, .projects h2, .projects p{
    color: white;
}

.projects img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects .githubIcon{
    color: white;
    font-size: 43px;
    padding-bottom: 20px;
}


@media (min-width: 320px){
    .projects{
        height: 650px;
    }
    .projects h1{
        font-size: 65px;
    }
    .projects img{
        width: 85%;
    }
    .projects h2{
        font-size: 30px;
        margin-top: 100px;
    }
    .projects p{
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media (min-width: 600px){
    .projects{
        height: 725px;
    }
    .projects h1{
        font-size: 65px;
    }
    .projects img{
        width: 65%;
    }
    .projects h2{
        font-size: 30px;
        margin-top: 65px;
    }
    .projects p{
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
}
@media (min-width: 1124px){
    .projects{
        height: 850px;
    }
    .projects h1{
        font-size: 75px;
    }
    .projects img{
        width: 45%;
    }
    .projects h2{
        font-size: 30px;
        margin-top: 50px;
    }
    .projects p{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}


/* Form*/
.contacts {
    margin: auto;
    height:420px;
    background-color: BAD8FF;
}

.contacts .main-form {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
@media (min-width: 414px) {
    .main-form{
        width: 400px;
        margin:auto;
    }
}
@media (min-width: 768px) {
    .main-form{
        width: 600px;
        margin:auto;
    }
}
@media (min-width: 1024px) {
    .main-form{
        width: 800px;
        margin:auto;
    }
}

.btn.btn-primary{
    margin-bottom: 20px;
    margin-top: 10px;
}

.contacts .copyright{
    text-align: center;
    font-size: 16px;
    padding-top: 26px;
}