body {
  background-color: powderblue;
}


.contacts {
  margin: auto;
}

.form-group {
  margin: 5px 1px;
}




/* css for form*/
.contacts {
    margin: auto;
    text-align: center;
}
@media (min-width: 414px) {
    .main-form{
        width: 400px;
        margin:auto;
    }
}
@media (min-width: 768px) {
    .main-form{
        width: 600px;
        margin:auto;
    }
}
@media (min-width: 1024px) {
    .main-form{
        width: 800px;
        margin:auto;
    }
}
